@page

<div class="text-center">
    <h6 class="display-6">Thanks</h6>
    <p>Thanks for the order #@OrderId</p>
    <p>The goods will be shipped in 3-5 days.</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return to Store</a>
</div>


@functions
{
    [BindProperty (SupportsGet=true)]
public String? OrderId { get; set; }
}