@page "/getintouch"


<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary"></i>
        <p>
            +905063854598 call us anytime.
        </p>
        <i class="fa-regular fa-address-book text-primary"></i>
        <p>
            Istanbul 34980, Turkiye.
        </p>
        <i class="fa-regular fa-envelope text-primary"></i>
        <p>
            yusuf_solak@outlook.com
        </p>
    </div>
</div>
