<div class="bg-light border-to p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-2">2</div>
            <div class="col-md-8">8</div>
            <div class="col-md-2">
                <div products="" number="6"></div> <!--this is the div we constructed using taghelper.-->
            </div>
        </div>
    </div>
</div>