@model IEnumerable<Product>

    <div>
        <h6 class="display-6 text-center">Showcase</h6>
    </div>

    <div class="row">
        @foreach(var prd in Model)
        {
            <partial name="_ProductCard" model="prd"/>
        }

    </div>